<div class="background">
  <div class="card">
    <div class="card-body">
      <h1>Login</h1>
      <form [formGroup]="loginForm">
        <div [ngClass]="className" 
          class="pad"
          style="font-size: 20px;font-weight: bold;" 
          role="alert">
          {{ message }}
        </div>
        <div class="input_box">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="EMAIL"
            formControlName="email"
          /><br />
          <!-- <small
            class="text-danger"
            *ngIf="
              loginForm.get('email')?.hasError('required')
            "
            [ngClass]="'error'"
          >
            email is required.
          </small> -->
          <input
            type="password"
            name="password"
            id="password"
            placeholder="PASSWORD"
            formControlName="password"
          />
        </div>
        <div class="forgot">
          <a href="#">FORGOT YOUR PASSWORD?</a>
        </div>
        <div class="card-footer">
          <button routerLink="/signup" class="btn-1 btn">REGISTER</button>
          <button type="submit" (click)="login()" class="btn-2 btn">
            SIGN IN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
