<div class="background">
  <div class="card">
    <div class="card-body">
      <h1>Login</h1>
      <div class="input_box">
        <input type="email" name="email" id="email" placeholder="EMAIL" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="PASSWORD"
        />
      </div>
      <div class="forgot">
        <a href="#">FORGOT YOUR PASSWORD?</a>
      </div>
      <div class="card-footer">
        <button routerLink="/signup" class="btn-1 btn">REGISTER</button>
        <button type="submit" class="btn-2 btn">SIGN IN</button>
      </div>
    </div>
  </div>
</div>
